@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Titillium+Web:wght@300&family=Trade+Winds&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a443a);
}

.calculator {
    border: 2px solid #f8f8f8;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

.input-box {
    width: 320px;
    border: none;
    background-color: transparent;
    padding: 20px;
    font-size: 40px;
    cursor: pointer;
    color: white;
    text-align: right;
}

.button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    font-size: 20px;
    color: white;
    box-shadow: -8px -8px 15px rgba(113, 115, 119, 0.5);
    cursor: pointer;
}

.operator {
    color: #6dee0a;
}

.equal {
    background-color: #fb7c14;
}

.input-box::placeholder {
    color: #ffffff;
}